body {
  background-color: rgb(0, 0, 0);
}

h1,
h2,
p {
  color: rgb(200, 200, 200);
  font-family: sans-serif;
  margin-left: 1rem;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(120, 120, 255);
  border: 1px solid rgb(120, 120, 255);
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  transition: all 0.2s ease;
}

a:hover,
a:focus {
  color: rgb(190, 190, 255);
  border-color: rgb(190, 190, 255);
  text-decoration: underline;
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.5);
  transition: all 0.2s ease;
  outline: none;
}